body {
    background-image: url("../images/background.png");
    background-size: cover;     /* Makes it scale to fit the screen */
    background-position: center;
    background-repeat: no-repeat;
}
